.box
{
	box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0px 2px 10px 0 rgba(0,0,0,0.12);
	position: relative;
	border-radius: 3px;
	background:#fff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
}
#myImage_form
{
	width: 25%;
}